<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />

    <f:if condition="{jobposts}">
        <f:for each="{jobposts}" as="jobpost">
            <article class="job job-post">
                <h3>
                    <f:link.action pluginName="{f:if(condition: '{settings.jobsDetailView}', then: 'Jobsdetail', else: 'Jobslist')}" action="switch" arguments="{jobpost: '{jobpost}'}" pageUid="{settings.jobsDetailView}">{jobpost.title}</f:link.action>
                </h3>
                <f:if condition="{jobpost.jobLocations} || {jobpost.jobLocation.city} || {jobpost.hiringOrganization.city}">
                    <p>
                        <f:if condition="{jobpost.jobLocations}">
                            <f:then>
                                <f:for each="{jobpost.jobLocations}" as="location" iteration="i">
                                    <f:if condition="{location.city}">
                                        <f:then><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:list.location.uppercase" /> {location.city} <br /></f:then>
                                        <f:else><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:list.location.uppercase" /> {jobpost.hiringOrganization.city} <br /></f:else>
                                    </f:if>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:comment>Deprecated</f:comment>
                                <f:if condition="{jobpost.jobLocation.city}">
                                    <f:then><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:list.location.uppercase" /> {jobpost.jobLocation.city}</f:then>
                                    <f:else><f:translate key="LLL:EXT:hh_simple_job_posts/Resources/Private/Language/locallang_fe.xlf:list.location.uppercase" /> {jobpost.hiringOrganization.city}</f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </p>
                </f:if>
            </article>
        </f:for>
    </f:if>
</f:section>

</html>
